@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @screen md {
    font-size: 16px;
  }
}
.react-activity-calendar {
  width: 100%;
  flex: 1 1 0%;
}
.react-activity-calendar svg {
  width: 100%;
  height: 100%;
}
/* BlockNote Editor */
.bn-container
  .bn-block-content.bn-is-empty.bn-has-anchor
  .bn-inline-content:before {
  content: '텍스트를 입력해 주세요.';
}
.bn-container .bn-editor {
  padding-inline: 0.75rem;
}
.bn-container .bn-toolbar .mantine-ActionIcon-root[data-test='nestBlock'],
.bn-container .bn-toolbar .mantine-ActionIcon-root[data-test='unnestBlock'] {
  display: none;
}
.mantine-ActionIcon-loader {
  display: none;
}
html {
  color-scheme: light !important;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  * {
    @apply focus:outline-none;
  }
  textarea {
    @apply resize-none;
  }
  [contenteditable='true']:empty:before,
  [data-empty='true']:empty:before {
    content: attr(title);
    @apply text-gray-500;
  }
}
@layer utilities {
  .title {
    @apply text-2xl font-semibold;
  }
  .subtitle1 {
    @apply text-xl font-medium;
  }
  .subtitle2 {
    @apply text-lg font-medium;
  }
  .body1 {
    @apply text-base font-normal;
  }
  .body2 {
    @apply text-sm font-normal;
  }
}
