@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @screen md {
    font-size: 16px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #fff;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 999px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 999px;
}
/* react-image-crop */
#cropImageAsset .ReactCrop {
  display: flex;
}
/* react-grid-layout */
.react-resizable-hide .resize-handler {
  display: none;
}
.react-grid-item.react-grid-placeholder {
  box-shadow:
    inset -6px -6px 10px rgba(255, 255, 255, 0.45),
    inset 6px 6px 10px rgba(94, 104, 121, 0.3);
  border-radius: 1rem;
  border: 1px solid rgb(243 244 246);
  background-color: rgb(229 231 235) !important;
}
/* react-quill*/
#textEditor.quill {
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
}
#textEditor .ql-container {
  font-family: 'Noto Sans KR', 'Noto Sans';
}
#textEditor .ql-container.ql-snow {
  border-radius: 1rem;
  border: none;
}
#textEditor .ql-snow .ql-tooltip::before,
#textEditor .ql-snow .ql-tooltip[data-mode='link']::before {
  content: '';
  margin: 0px;
}
#textEditor .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: '저장';
}
#textEditor .ql-snow .ql-tooltip a.ql-action::after {
  content: '편집';
}
#textEditor .ql-snow .ql-tooltip a.ql-remove::before {
  content: '삭제';
}
#textEditor .ql-snow .ql-tooltip,
#toolbar.ql-toolbar.ql-snow,
#toolbar.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border: 1px solid rgb(243 244 246);
}
#textEditor .ql-snow .ql-tooltip input[type='text'] {
  border: none;
}
#textEditor .ql-snow .ql-tooltip {
  border-radius: 1rem;
}
#textEditor .ql-snow a {
  color: #6b7280;
}
#textEditor .ql-editor {
  padding: 1rem;
}
#textEditor .ql-editor.ql-blank::before {
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  color: #6b7280;
}
#textEditor .ql-editor ol,
#textEditor .ql-editor ul {
  padding-left: 0;
}
.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding: 0.2rem 0 0.2rem 1.5rem;
}
#textEditor .ql-snow .ql-editor h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
#textEditor .ql-snow .ql-editor h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}
#toolbar.ql-snow .ql-picker-options,
#toolbar.ql-snow .ql-color-picker .ql-picker-item {
  border-radius: 0.5rem;
}
#toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  background-color: rgb(229 231 235);
}
#toolbar.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(229 231 235);
  color: #000;
}
#toolbar.ql-toolbar .ql-active {
  color: #000;
  border-radius: 0.5rem;
  background-color: rgb(229 231 235);
}
#toolbar.ql-snow.ql-toolbar button:not(:last-child) {
  margin-right: 2px;
}
#toolbar.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #000;
}
#toolbar.ql-toolbar .ql-fill {
  fill: #000;
  stroke: none;
}
#toolbar.ql-toolbar .ql-picker {
  color: #000;
}
#toolbar.ql-toolbar.ql-snow .ql-formats {
  display: flex;
  margin-right: 0;
}
#toolbar.ql-snow .ql-picker.ql-header {
  width: 74px;
  font-size: 12px;
}
#toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value]::before {
  font-size: 0.8rem;
}
/* react-github-calendar */
.react-activity-calendar {
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  justify-content: center;
}
.react-activity-calendar svg {
  width: 100%;
  height: 100%;
}
.github-calendar-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
html {
  color-scheme: light !important;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  * {
    @apply focus:outline-none;
  }
  textarea {
    @apply resize-none;
  }
  [contenteditable='true']:empty:before,
  [data-empty='true']:empty:before {
    content: attr(data-placeholder);
    @apply text-gray-300;
  }
}
@layer components {
  .title {
    @apply text-2xl font-semibold;
  }
  .subtitle1 {
    @apply text-lg font-medium;
  }
  .subtitle2 {
    @apply text-base font-medium;
  }
  .body1 {
    @apply text-base font-normal;
  }
  #textEditor .ql-editor ol,
  #textEditor .ql-editor ul,
  #textEditor .ql-snow .ql-editor p,
  .body2 {
    @apply text-sm font-normal;
  }
  .body3 {
    @apply text-xs font-normal;
  }
  .grid-item-wrapper {
    @apply rounded-2xl border border-solid border-gray-100 shadow-sm bg-white;
  }
  .shadow-wrapper {
    @apply rounded-2xl border border-solid border-gray-100 shadow-md bg-white;
  }
  .asset-toolbar-wrapper {
    @apply absolute -top-6 left-1/2 transform -translate-x-1/2 rounded-2xl border border-solid border-gray-100 shadow-md bg-white p-2 flex gap-2;
  }
  .ellipsis1 {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .ellipsis2 {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .ellipsis3 {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .ellipsis5 {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .brand-gradient {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }
}
